  *,
 *::after,
 *::before {
    box-sizing: border-box;
}
body{
    margin: 0;
    background: #302C2B;
    color: snow;
    font-family: Arial, Helvetica, sans-serif;   
}
:root{
    --bar-width: 60px;
    --bar-height: 8px;
    --hamburger-gap: 6px;
    --foreground: #333;
    --background: white;
    --hamburger-margin: 8px;
    --animation-timing: 200ms ease-in-out;
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    position: absolute;
    top: var(--hamburger-margin);
    left: var(--hamburger-margin);
    z-index: 3;
    cursor: pointer;
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
    content: "";
    width:var(--bar-width);
    height:var(--bar-height);
    background-color: var(--foreground);
    border-radius: 9999px;
    transform-origin: left center;
    transition: opacity var(--animation-timing), width var
    (--animation-timing);
}

.hamburger-menu input{
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
    rotate: 45deg;

}

.hamburger-menu:has(input:checked)::after{
    rotate: -45deg;

}

.hamburger-menu input:checked {
    opacity: 0;
    width: 0;
}

#menu{
    padding: 5px 10px;
    display: flex;
    align-items: center;
}

.menu-item{
    font-size: 14px;
    color: black; 
    margin:0px 10px;
    text-decoration: none;
}

.menu-item:hover{
    text-decoration: underline;
}

#profile-pic{
    width: 150px; /* Adjust the width as needed */
  height: 150px; /* Adjust the height as needed */
  border-radius: 50%;
  object-fit: cover;
}

#profile-pic:hover{
    box-shadow: 0px 0px 5px #c2c2c2;
    
}

  
